{% extends "base.html" %}
{% block title %} Catalog {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-10"><h1>Shoes Shop</h1></div>
                
                <div class="col-sm-1">
                    {% if current_user.is_authenticated %}
                        Hi {{ current_user.name }}!
                    {% else %}
                        <button type="button" id="btn_login" class="btn btn-success" data-toggle="modal" data-target="#login_modal">Login</button>
                        {% include 'login.html' %}
                    {% endif %}
                </div>
                <div class="col-sm-1">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" type="button" id="btn_logout" class="btn btn-outline-danger">Logout</a>
                    {% else %}
                        <button type="button" id="btn_singup" class="btn btn-outline-success" data-toggle="modal" data-target="#singup_modal">Singup</button>
                        {% include 'signup.html' %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <h3>Catalogo productos</h3>
        <p>{{info.pygroup}}</p>
        <div class="row">
            {% for product in info.products %}
                <div class="col-sm-4 col-lg-3">
                    <div class="product">
                        <div class="row"> 
                            <div class="col-12">
                                <h5>{{ product.name }}</h5></div>
                            </div>
                        <div class="row"> 
                            <div class="col-12">
                                <figure class="product_image"><img src="{{ product.image }}"></figure></div>
                            </div>
                        <div class="row"> 
                            <div class="col-12">
                                <span class="price {% if product.price > 500000 %} higher {% else %} lower {% endif %}">${{ '{0:,}'.format(product.price| int) }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <b>Description: </b><br>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            {% if product.refundable %}
                                <span class="refundable">Refundable!</span>
                            {% else %}
                                <span  class="not_refundable">Sorry not refundable</span>
                            {% endif %} 
                            </div>
                        </div>
                    </div>                    
                </div>  
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/general.js')}}"></script>
{% endblock %}